@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~@flaticon/flaticon-uicons/css/all/all";


:root {
  background-color: #151719;
  color : white;
  font-family: Inter, sans-serif;
}

